@font-face {
  font-family: 'SFPro';
  src: url('SFPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('SFPro-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: medium;
}
